
        .custom-container{
            padding: 0;
            top: 0;
            background-color:0086eb;
            height: 100px;
            width: 100vw;
          position: fixed;
          z-index: 5;
        }
        .navbar-collapse{
            background-color:0086eb ;
        }
    .logo{
            height: 150px;
            background-color: FFE45C;
            box-shadow:0px 0px 25px 3px; 
            border-radius:0 0 40px 0px;
            overflow: hidden;
            border:solid 1px;

        }

    .toggler-custom{
        background-color: aliceblue;
    }
 
    .nav-link{
        color: white;
    }
    .navbar-toggler .navbar-toggler-icon{
        border: 0;
    }
    .navbar-collapse{
        flex-grow: 0.05;
        top: 0;
    }
    
    .navbar-custom{
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
      
    }
    @media screen and (max-width:768px)
    {
        .logo {
            height: 80px;
        }
    }